@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Simonetta&display=swap');

html,
body {
  /* background-image: url('../public/img/fondo.jpg'); */
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  font-family: -apple-system, Merriweather, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('https://pbs.twimg.com/media/DQum78SUMAIqYzS.jpg');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}